* {        
    box-sizing: border-box;  
    margin: 0;
    padding: 0;   
}

body {
    font-family: "Raleway", sans-serif;  
    display: flex;
    justify-content: center;
    align-items: center;
    background: #84809d;     
    min-height: 100vh;  
    padding: 10px;
}
.container {
    width: 850px;
    display:flex;    
    align-items: center;
    background: #ffffff;
    border-radius: 30px;
    padding: 60px 40px;
    gap: 65px;
}
.hangman {
    max-width: 270px;
}
.hangman > h1:first-child{
    color:#5957F5;
}
.hangman h1 {
    text-align: center;
    margin-bottom: 30px;
}
.words {
    display: flex;
    list-style: none;
    gap: 3px;
    justify-content: center;
    align-items: center;
}
.words .letter {
    width: 22px;
    border-bottom: 3px solid black;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;  
    font-weight: bold;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}
.game-tools .guess-count {
    align-items: center;
    text-align: center;
    justify-content: center;
}
.game-tools .guess-count b{
    color: red;
}
.game-tools .keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}
.game-tools #hint{
    align-items: center;
    text-align: center;
    justify-content: center;    
    margin-top: 50px;
    padding: 10px;
}
.keyboard button {
    width:calc(100% / 9 - 5px);
    color: #ffffff;
    background: #5957F5;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.5rem;
    outline: none;
    padding: 5px;
    border: none;
    cursor: pointer;
}
.keyboard button:hover {
    background: #84809d;    
}
.keyboard button:disabled{
    opacity: 0.6;
    pointer-events: none;
}
/*Welome modal*/
.welcome-modal {      
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;   
}
.welcome-modal .content {
    background: #ffffff;
    width: 100%;
    height: 200px;
    max-width: 300px;    
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.welcome-modal h3 {
    margin-bottom: 20px;
    font:bold;
}
.welcome-modal input {
    min-height: 2rem;
    border: #5957F5 solid 2px;
    border-radius: 5px;
    text-align: center;
    text-decoration: solid black;
    font-size: 1rem;
}
.welcome-modal button {
    color: #ffffff;
    background: #5957F5;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: 500;
    font-size: 1.5rem;
    outline: none;   
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
}
.welcome-modal button:hover {
    background: #84809d;  
}
.hidden {
    display: none;
}
/* Add styling for mobile, tablet and laptop */
@media (max-width: 756px ) {
    .container {
        flex-direction: column;
        padding: 30px 10px;
        align-items: center;   
        align-content: center;     
    }
    .hangman img {
        max-width: 180px;
    }
    .game-tools {       
        align-items: center;
    }
}
