* {        
    box-sizing: border-box;  
    margin: 0;
    padding: 0;   
}

body {
    font-family: "Raleway", sans-serif;  
    display: flex;
    justify-content: center;
    align-items: center;
    background: #885ee8;     
    min-height: 100vh;  
}
.container {
    width: 850px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    background: #ffffff;
    border-radius: 30px;
    padding: 60px;
    gap: 60px;
}
.hangman {
    max-width: 300px;
}
.hangman h1 {
    text-align: center;
    margin-bottom: 30px;
}
.words {
    display: flex;
    list-style: none;
    gap: 10px;
}
.words .letter {
    width: 26px;
    border-bottom: 3px solid black;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}
.game-tools .guess-count b{
    color: red;
}
.game-tools .keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    text-transform: uppercase;
    color:#ffffff;
    background:#885ee8;
    width: calc(100% / 9 - 5px);
    padding: 6px;
    border: none;
}

